

/* Estilos generales del body */
body {
  font-family: 'Rubik', sans-serif;
  margin: 0; /* Elimina el margen para eliminar cualquier espacio en la parte superior e inferior */
  background-color: #400118;
  color: #fff;
  overflow: hidden; /* Oculta el desbordamiento de contenido */
}

/* Estilos del título */
h1 {
  border-bottom: 2px solid #333;
  padding-bottom: 5px;
  font-family: 'Rubik Mono One', monospace;
  text-align: center;
  font-weight: 400;
  size: 148px;
  line-height: 30px;
  color: #fff;
}

/* Estilos de las listas */
ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

/* Estilos de los botones */
button {
  cursor: pointer;
  color: black;
}

/* Estilos del contenido */
#content {
  justify-content: start !important;
}

/* Estilo personalizado para el icono de carrito */
#carrito-icono {
  position: relative !important;
  top: 20px;
  right: 20px;
  color: black;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: right !important;
  align-items: right !important;
  border-radius: 50%;
  cursor: pointer;
}