#content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 0.4fr repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  width: 100%;
  min-height: 76vh;
  max-height: fit-content;
  background-color: #400118;
  text-align: center;
  padding: 50px 30px 30px 30px;
}

.titulo {
  grid-area: 1 / 1 / 2 / 3;
}
#camposEntrada {
  grid-area: 2 / 1 / 4 / 2;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  gap: 2vh;
  padding: 10px 10px;
  /* border: solid #eb953f 3px;
  border-radius: 84px 84px 168px 168px / 45px 45px 22px 22px; */
}

#camposEntrada > div {
  width: 80%;
}

#camposEntrada > button {
  background-color: #860606;
  border-radius: 6px;
  margin-top: 15px;
}

#camposEntrada > button:hover {
  border: solid #eb953f 3px;
  border-radius: 6px;
}

.borde-modificado {
  border: none;
  background: #860606;
  -webkit-box-shadow: 5px 7px 20px 12px rgba(27, 1, 1, 0.7);
  -moz-box-shadow: 5px 7px 20px 12px rgba(27, 1, 1, 0.7);
  box-shadow: 5px 7px 20px 12px rgba(27, 1, 1, 0.7);
}

label::after {
  background: none !important;
  border: none !important;
}

textarea:focus,
input:focus {
  background: #860606 !important;
}

.textarea-alto {
  height: 100px !important;
}

#horariosAtencion {
  grid-area: 2 / 2 / 3 / 3;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  padding: 10px 10px;
}

.horarios {
  max-width: fit-content;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  row-gap: 10px;
}

.diasHoras {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.dias,
.horas {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.margin-auto {
  margin: auto;
}

#ubicacion {
  grid-area: 3 / 2 / 4 / 3;
  display: flex;
  align-items: start;
  justify-content: center;
}

.mapa-contenedor {
  width: 80%;
  height: 80%;
  border: solid #eb953f 3px;
  border-radius: 9px;
}
.mapa {
  width: 100%;
  height: 100%;
  border-radius: 6px;
  background-color: blue;
}

@media only screen and (max-width: 430px) {
  #content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 30px;
  }
}
