#content {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  width: 100%;
  min-height: 80vh;
  max-height: fit-content;
  background-color: #400118;
  text-align: center;
  padding: 30px 30px;
}

.titulo {
  grid-area: 1 / 1 / 2 / 6;
}
#camposEntrada {
  grid-area: 2 / 1 / 6 / 4;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2vh;
  padding: 20px 20px;
  /* border: solid #eb953f 3px;
  border-radius: 84px 84px 168px 168px / 45px 45px 22px 22px; */
}

#camposEntrada > div {
  width: 40vw;
}

.borde-modificado {
  border: solid #eb953f 3px;
  border-radius: 6px;
  background: #860606;
}

label::after {
  background: none !important;
  border: none !important;
}

textarea:focus,
input:focus {
  background: #860606 !important;
}

#camposEntrada #camposEntrada > button {
  background-color: #290106;
  color: #ffff;
  font-family: var(--fuente-texto);
}
#horariosAtencion {
  grid-area: 2 / 4 / 4 / 6;
  text-align: start;
}
.horarios {
  max-width: fit-content;
}
#ubicacion {
  grid-area: 4 / 4 / 6 / 6;
}
