.container {
  height: 130px;
  width: 100%;
  background-color: #1b0101;
}

.arriba {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  width: 100%;
}

.bonitobox {
  flex: 1 0 30vw;
}

.contacto {
  text-align: center;
}

.logofooter {
  height: 80px;
  padding-left: 20px;
}

.icons-redes {
  width: 25px;
  height: 25px;
  color: aliceblue;
}

.redes {
  display: flex;
  align-items: center;
  justify-content: end;
  padding-right: 20px;
  gap: 3vw;
}

.abajo {
  padding: 5px;
  height: 20px;
  text-align: center;
}

@media only screen and (max-width: 1024px) {
    #perritos {
      flex-wrap: wrap;
      padding: 30px 0;
      justify-content: space-around;
      gap: 30px 0;
    }
    #tarjeta {
      margin: 0;
    }
  }
  
  @media only screen and (max-width: 1024px) {
 
  }
  
  
  
  @media only screen and (max-width: 430px) {
  }