* {
  padding: 0;
  margin: 0;
}
/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: none;
  scrollbar-color: #860606;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background-color: #290106;
  opacity: 0;
}

*::-webkit-scrollbar-thumb {
  background-color: #860606;
  border-radius: 40px;
  height: 15px;
}
:root {
  --fuente-titulos-subtitulos: "Rubik Mono One", monospace;
  --fuente-texto: "Rubik", sans-serif;
  --tamano-titulos-pc: 1.875em; /*30px*/
  --tamano-sub-navegacion-pc: 0.938em; /*15px*/
  --tamano-footer-pc: 0.8em;
  --color-textos: #fcf1f1;
  --color-fondo: #400118;
  --color-navbar-footer: #290106;
}

.color-fondo {
  background-color: var(--color-fondo);
}

.color-fondo-secundario {
  background-color: var(--color-fondo-secundario);
}

.titulo {
  font-size: var(--tamano-titulos-pc) !important;
}

.texto-justificado {
  text-align: justify;
}

.texto-navegacion {
  font-family: var(--fuente-texto) !important;
  color: var(--color-textos) !important;
}

.titulo,
.subtitulo {
  font-family: var(--fuente-titulos-subtitulos) !important;
  color: var(--color-textos) !important;
}
.subtitulo,
.texto-navegacion {
  font-size: var(--tamano-sub-navegacion-pc) !important;
}

.texto-footer {
  font-family: var(--fuente-texto) !important;
  font-size: var(--tamano-footer-pc) !important;
  color: var(--color-textos) !important;
}

.noHipervinvulo {
  text-decoration: none !important;
  color: var(--color-textos) !important;
}

#header {
  background-color: var(--color-navbar-footer);
  height: fit-content;
  width: 100% !important;
}

nav {
  width: 100% !important;
  height: 90px !important;
  padding: 0px;
  align-content: center;
  /* background-color: var(--color-navbar-footer) !important; */
}

.footer-container {
  display: flex;
  align-items: center;
}

.footer {
  /* height: 100% !important; */
  width: 100% !important;
  max-height: 130px !important;
  background-color: var(--color-navbar-footer);
}

/*
 ? Se debe incluir lo siguiente en todos los documentos
 ~ Link a la fuente de Rubik mono one
 <link href="https://fonts.googleapis.com/css?family=Rubik+Mono+One:regular" rel="stylesheet" />
 ~ Link a la fuente de Rubik
 <link href="https://fonts.googleapis.com/css?family=Rubik:300,regular,500,600,700,800,900,300italic,italic,500italic,600italic,700italic,800italic,900italic" rel="stylesheet" />
*/

