* {
  padding: 0;
  margin: 0;
}
:root {
  --fuente-titulos-subtitulos: "Rubik Mono One", monospace;
  --fuente-texto: "Rubik", sans-serif;
  --tamano-titulos-pc: 1.875em; /*30px*/
  --tamano-sub-navegacion-pc: 0.938em; /*15px*/
  --tamano-footer-pc: 0.8em;
  --color-textos: #fcf1f1;
  --color-fondo: #860606;
<<<<<<< HEAD
  --color-navbar-footer: #1B0101;
=======
  --color-fondo-secundario: #eb953f;
>>>>>>> 2872727b49b9c6ad2321fb80214f1b168b367852
}

.color-fondo {
  background-color: var(--color-fondo);
}

.color-fondo-secundario {
  background-color: var(--color-fondo-secundario);
}

.titulo {
  font-size: var(--tamano-titulos-pc);
}

.texto-justificado {
  text-align: justify;
}

.texto-navegacion {
  font-family: var(--fuente-texto);
  color: var(--color-textos);
}

.titulo,
.subtitulo {
  font-family: var(--fuente-titulos-subtitulos);
  color: var(--color-textos);
}
.subtitulo,
.texto-navegacion {
  font-size: var(--tamano-sub-navegacion-pc);
}

.texto-footer {
  font-family: var(--fuente-texto);
  font-size: var(--tamano-footer-pc);
  color: var(--color-textos);
}

<<<<<<< HEAD
.noHipervinvulo{
=======
.noHipervinvulo {
>>>>>>> 2872727b49b9c6ad2321fb80214f1b168b367852
  text-decoration: none;
  color: var(--color-textos);
}

<<<<<<< HEAD
nav{
=======
.nav {
>>>>>>> 2872727b49b9c6ad2321fb80214f1b168b367852
  width: 100% !important;
  height: 90px !important;
  background-color: var(--color-navbar-footer);
}

.footer {
  width: 100% !important;
  height: 125px !important;
}



/*
 ? Se debe incluir lo siguiente en todos los documentos
 ~ Link a la fuente de Rubik mono one
 <link href="https://fonts.googleapis.com/css?family=Rubik+Mono+One:regular" rel="stylesheet" />
 ~ Link a la fuente de Rubik
 <link href="https://fonts.googleapis.com/css?family=Rubik:300,regular,500,600,700,800,900,300italic,italic,500italic,600italic,700italic,800italic,900italic" rel="stylesheet" />
*/
