body,
html {
  width: 100%;
  height: 100%;
}
#container {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

#content {
  padding: 40px;
  min-height: 700px;
  max-height: fit-content;
  background: url(../img/DSC00361.jpg), #860606;
  background-blend-mode: multiply;
  background-position: center center;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
}

#content > img {
  width: 37.5em;
  height: 18.75em;
}

#login,
#registro {
  width: 500px;
  /* border: 3px black solid; */
  padding: 15px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1.5em;
}

#login {
  margin-top: 60px;
}

#login > div > input,
#registro > div > input {
  width: 400px;
}
#login > div > p,
#registro > div > p {
  color: #0000;
}
#login > button,
#registro > button {
  background-color: #860606;
  color: #fff;
  padding: 10px 15px;
  font-weight: 600;
}
.button-sin-fondo {
  background: none !important;
  padding: auto;
}
.button-sin-fondo:hover {
  cursor: pointer;
  text-decoration: underline solid #eb953f 2px;
}

input:focus {
  background: #860606 !important;
}
label::after {
  background: none !important;
  border: none !important;
}
.borde-modificado {
  border: none;
  background: #860606;
  -webkit-box-shadow: 5px 7px 20px 12px rgba(27, 1, 1, 0.7);
  -moz-box-shadow: 5px 7px 20px 12px rgba(27, 1, 1, 0.7);
  box-shadow: 5px 7px 20px 12px rgba(27, 1, 1, 0.7);
}

@media only screen and (max-width: 1024px) {
  /*No se utiliza*/
}

@media only screen and (max-width: 430px) {
  #content > img {
    width: 100%;
    height: 100%;
  }
  #login > div > input,
  #registro > div > input {
    width: 300px;
  }
}
