nav{
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: 120px;
    padding: 10px 10px;
    background-color: #1B0101;
}

.logonav{
    height: 100px;
}