/* Color fondo, clase de Bootstrap */
.offcanvas {
  background-color: rgba(27, 1, 1, 0.94) !important;
}

/* tamanho del logo img */
.logo-nav {
  width: 125px;
}

/* color de link de pagina actual */
.active {
  color: #e0351b !important;
}

/* Mantiene el color de link sobre la pagina actual */
/* .active.active:hover{
  color: #E0351B !important;
} */

/* cambia el color de link donde pase el cursor */
.nav-link:hover {
  color: #eb953f !important;
}

/* para cambiar color de hamburguesa se debe modificar rgba de stroke */
.navbar {
  --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(235, 100, 52, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

/* icono hamburguesa, clase de bootstrap */
.navbar-toggler-icon {
  width: 50px !important;
}

/* marco a la hamburguesa */
/* .navbar-toggler {
  background-color: #eb953f;
  border: 3px solid #eb6434;
  border-radius: 7px;
} */

/* quitar el recuadro negro al dar click sobre la hamburguesa */
.navbar-toggler:focus {
  box-shadow: none !important;
}

.navHr {
  border: 1px solid #eb953f !important;
}

/* boton cruz cerrar */
/* .btn-close {
  background-color: #EB953F;
} */

/* modificar color de X y su borde al presionar */
.btn-close {
  --bs-btn-close-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' stroke='rgba(235, 100, 52, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e") !important;
  --bs-btn-close-focus-shadow: none !important;
}
