*{
    box-sizing: border-box;
}

:root {
    --fuente-texto: "Rubik", sans-serif;
    --tamano-sub-navegacion-pc: 1.5em;
    --color-textos: #ffff;
  }

 nav ul {
    display: flex; 
    justify-content: end;
    align-items: center;
    align-content: center;
    padding: 8px 15px;  
    
    /* Quita los puntos de lista */
    list-style: none; 
}

nav li a{
    
    display: flex;
    align-items: center;
    align-content: center;
    /* text-align centrara el texto cuando falle la imagen */
    text-align: center;
    padding: 1px 8px;
    /* Color quita el color azul de a */
    color:var(--color-textos);
    /* text-decoration quita el subrayado de a*/
    text-decoration: none;
    font-size: var(--tamano-sub-navegacion-pc);
    
    /* borrar al terminar pruebas */
    border: 2px solid red;
    border-radius: 10px;
}

/* Mueve el logo a la izquierda */
.pull-left{
    margin-right: auto;
} 

/* tamanho del logo img */
.logo-nav{
    width: 150px;
}

/* .navbar-logo{
    user-select: none;
} */

.navbar-toggle{
    display: none;
}

.hamburger {
    width: 50px; 
    height: 50px
}

/* .navbar-link {
    width: 100%;
} */
/* hover cambiar el color del link con el cursor */
.navbar-link a:hover{
    background-color: coral;
}




@media (max-width: 1100px) {
    .navbar ul {
        flex-wrap: wrap;
    }

    .navbar-toggle {
        display: block;
    }

    .navbar-link{
        display: none; 
       width: 100%; 
        text-align: center; 
    }


}
