* {
  margin: 0px;
  padding: 0px;
}

nav {
  align-content: center;
}

/* Color fondo, clase de Bootstrap */
.offcanvas {
  background-color: #400118;
}

/* tamanho del logo img */
.logo-nav {
  width: 125px;
}

/* color de link de pagina actuak */
.active{
  color: #E0351B !important;
}

/* Mantiene el color de link sobre la pagina actual */
.active.active:hover{
  color: #E0351B !important;
}

/* cambia el color de link donde pase el cursor */
.nav-link:hover {
  color: #eb953f !important;
}

/* icono hamburguesa, clase de bootstrap */
.navbar-toggler-icon {
  width: 25px;
}

.navbar-toggler {
  background-color: #eb953f;
  border: 3px solid #eb6434;
  border-radius: 7px;
}

.nav-low {
  height: 2px;
  width: 100vw;
  background-color: #eb953f;
}

.btn-close {
  background-color: #EB953F;
}

/* @media only screen and (max-width: 1024px) {
 
}
@media only screen and (max-width: 430px) {
} */
